[Unit]
Description=Minecraft Neoforge Direwolf server
After=build-direwolf-container.service direwolf-server.socket
Requires=build-direwolf-container.service direwolf-server.socket
PartOf=build-direwolf-container.service

[Service]
User=direwolf
Group=direwolf
Restart=on-failure

WorkingDirectory=/opt/direwolf-server

StandardInput=socket
StandardOutput=journal
StandardError=journal

ExecStart=/opt/direwolf-server/start-docker.sh
ExecStop=/bin/sh -c 'echo -e "\nstop\nstop" > /run/direwolf-cmd'
ExecStopPost=/usr/bin/docker stop -t 60 direwolf-server

[Install]
WantedBy=multi-user.target
